<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit student</title>
</head>
<body>
<h1>Update student</h1>

<form action="#" th:action="@{/updateStudent/{id}(id=${student.id})}" th:object="${student}" method="post">

    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" th:field="*{name}" id="name" placeholder="put your name here" ></td>
        </tr>
        <tr>
            <td><label for="email">E-mail</label></td>
            <td><input type="text" th:field="*{email}" id="email" placeholder="put your E-mail here" ></td>
        </tr>
        <tr>
            <td><label for="supervisor">Supervisor</label></td>
            <td>
                <select name="supervisor" id="supervisor">
                    <option th:field="*{supervisor}"
                            th:each="supervisor : ${supervisors}"
                            th:text="${supervisor.name}"
                            th:value="${supervisor.id}">
                    </option>
                </select>
            </td>
            <!-- lavet en dropdown af alle supervisors i stedet for man skal taste id på supervisor -->
            <!-- <td><input type="text" th:field="*{supervisor}" id="supervisor" placeholder="put your supervisor here" ></td> -->
        </tr>
        <br>
        <td><input type="submit" name="submit" value="Update student"></td>
    </table>
</form>

</body>
</html>